html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 14px;
}

/* Font setting courtesy of https://css-tricks.com/snippets/css/better-helvetica/ */
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.video--local {
    /* mirror the local video */
    transform: rotateY(180deg);
}

.video--local,
.video--remote {
    width: 100%;
    border: 2px solid grey;
}

.video--local {
    border: 2px solid green;
}

.video-wrapper--local,
.video-wrapper--remote {
    position: relative;
    display: flex;
    flex-direction: column;
}

.video-wrapper--local::after {
    opacity: 0.8;
    content: 'You (Robert Komaromi)';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 5px;
    background: green;
    color: white;
    padding: 0.5rem 0.75rem;
}

.button {
    background: #ecd8d8;
    border: none;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #c7b2b2;
    cursor: pointer;
}

.button::hover {

}
