html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 14px;
}

/* Font setting courtesy of https://css-tricks.com/snippets/css/better-helvetica/ */
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

.video--local,
.video--remote {
    width: 100%;
}

.video-wrapper--local,
.video-wrapper--remote {
    position: relative;
    border: 2px solid grey;
}

.video-wrapper--local {
    border: 2px solid green;
}

.video-wrapper--local::after {
    content: 'You';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 5px;
    background: green;
    color: white;
    padding: 0.25rem 0.5rem;
}
